* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_671 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_672 {
  width: 100%;
  height: 118px;
  background: url("../images/v1_672.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_673 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_674 {
  width: 261px;
  height: 34px;
  background: url("../images/v1_674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 110px;
  overflow: hidden;
}
.v1_675 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_675.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 47px;
  overflow: hidden;
}
.v1_676 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_677 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_678 {
  width: 57px;
  height: 23px;
  background: rgba(93,89,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_679 {
  width: 149px;
  height: 28px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
}
.v1_680 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_681 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_682 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_683 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_684 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_685 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v1_686 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 12px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_687 {
  width: 9px;
  height: 9px;
  background: url("../images/v1_687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1px;
  overflow: hidden;
}
.v1_688 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
}
.name {
  color: #fff;
}
.v1_690 {
  width: 486px;
  height: 20px;
  background: url("../images/v1_690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 416px;
  overflow: hidden;
}
.v1_691 {
  width: 50px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_692 {
  width: 50px;
  height: 18px;
  background: url("../images/v1_692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_694 {
  width: 50px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_696 {
  width: 98px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v1_697 {
  width: 98px;
  height: 18px;
  background: url("../images/v1_697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_699 {
  width: 98px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_701 {
  width: 36px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  overflow: hidden;
}
.v1_702 {
  width: 36px;
  height: 18px;
  background: url("../images/v1_702.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_705 {
  width: 113px;
  height: 20px;
  background: url("../images/v1_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 283px;
  overflow: hidden;
}
.v1_706 {
  width: 57px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 429px;
  overflow: hidden;
}
.v1_707 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1110px;
  overflow: hidden;
}
.v1_708 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_709 {
  width: 70px;
  height: 20px;
  background: url("../images/v1_709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 27px;
  overflow: hidden;
}
.v1_710 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_711 {
  width: 12px;
  height: 16px;
  background: url("../images/v1_711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v1_712 {
  width: 12px;
  height: 10px;
  background: url("../images/v1_712.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.v1_713 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_713.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.name {
  color: #fff;
}
.v1_715 {
  width: 44px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_718 {
  width: 100%;
  height: 117px;
  background: url("../images/v1_718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 110px;
  overflow: hidden;
}
.v1_719 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_720 {
  width: 72px;
  height: 72px;
  background: url("../images/v1_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1124px;
  overflow: hidden;
}
.v1_721 {
  width: 72px;
  height: 72px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_723 {
  width: 100%;
  height: 117px;
  background: url("../images/v1_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 110px;
  overflow: hidden;
}
.v1_724 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_725 {
  width: 72px;
  height: 72px;
  background: url("../images/v1_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1124px;
  overflow: hidden;
}
.v1_726 {
  width: 72px;
  height: 72px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_728 {
  width: 100%;
  height: 117px;
  background: url("../images/v1_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 110px;
  overflow: hidden;
}
.v1_729 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_730 {
  width: 72px;
  height: 72px;
  background: url("../images/v1_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1124px;
  overflow: hidden;
}
.v1_731 {
  width: 72px;
  height: 72px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_733 {
  width: 100%;
  height: 117px;
  background: url("../images/v1_733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 110px;
  overflow: hidden;
}
.v1_734 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_735 {
  width: 72px;
  height: 72px;
  background: url("../images/v1_735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1124px;
  overflow: hidden;
}
.v1_736 {
  width: 72px;
  height: 72px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_738 {
  width: 100%;
  height: 117px;
  background: url("../images/v1_738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 110px;
  overflow: hidden;
}
.v1_739 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_740 {
  width: 72px;
  height: 72px;
  background: url("../images/v1_740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1124px;
  overflow: hidden;
}
.v1_741 {
  width: 72px;
  height: 72px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_743 {
  width: 100%;
  height: 117px;
  background: url("../images/v1_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 795px;
  left: 110px;
  overflow: hidden;
}
.v1_744 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_745 {
  width: 72px;
  height: 72px;
  background: url("../images/v1_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1124px;
  overflow: hidden;
}
.v1_746 {
  width: 72px;
  height: 72px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_748 {
  width: 100%;
  height: 117px;
  background: url("../images/v1_748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 923px;
  left: 110px;
  overflow: hidden;
}
.v1_749 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_750 {
  width: 72px;
  height: 72px;
  background: url("../images/v1_750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1124px;
  overflow: hidden;
}
.v1_751 {
  width: 72px;
  height: 72px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_753 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 179px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_754 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 307px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_755 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 435px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_756 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 563px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_757 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 691px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_758 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 819px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_759 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 947px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_760 {
  width: 116px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 179px;
  left: 261px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_761 {
  width: 116px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 307px;
  left: 261px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_762 {
  width: 116px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 435px;
  left: 261px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_763 {
  width: 116px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 563px;
  left: 261px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_764 {
  width: 116px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 691px;
  left: 261px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_765 {
  width: 116px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 819px;
  left: 261px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_766 {
  width: 116px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 947px;
  left: 261px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_767 {
  width: 974px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 220px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_768 {
  width: 974px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 348px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_769 {
  width: 974px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 476px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_770 {
  width: 974px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 604px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_771 {
  width: 974px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 732px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_772 {
  width: 974px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 860px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_773 {
  width: 974px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 988px;
  left: 142px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_774 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 179px;
  left: 1122px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_775 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 307px;
  left: 1122px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_776 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 435px;
  left: 1122px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_777 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 563px;
  left: 1122px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_778 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 691px;
  left: 1122px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_779 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 819px;
  left: 1122px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_780 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 947px;
  left: 1122px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
