* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_497 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_498 {
  width: 100%;
  height: 118px;
  background: url("../images/v1_498.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_499 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_500 {
  width: 261px;
  height: 34px;
  background: url("../images/v1_500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 110px;
  overflow: hidden;
}
.v1_501 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 47px;
  overflow: hidden;
}
.v1_502 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_503 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_504 {
  width: 57px;
  height: 23px;
  background: rgba(93,89,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_505 {
  width: 149px;
  height: 28px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
}
.v1_506 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_507 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_508 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_509 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_510 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_511 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v1_512 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 12px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_513 {
  width: 9px;
  height: 9px;
  background: url("../images/v1_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1px;
  overflow: hidden;
}
.v1_514 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
}
.name {
  color: #fff;
}
.v1_516 {
  width: 486px;
  height: 20px;
  background: url("../images/v1_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 416px;
  overflow: hidden;
}
.v1_517 {
  width: 50px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_518 {
  width: 50px;
  height: 18px;
  background: url("../images/v1_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_520 {
  width: 50px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_522 {
  width: 98px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v1_523 {
  width: 98px;
  height: 18px;
  background: url("../images/v1_523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_525 {
  width: 98px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_527 {
  width: 36px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  overflow: hidden;
}
.v1_528 {
  width: 36px;
  height: 18px;
  background: url("../images/v1_528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_531 {
  width: 113px;
  height: 20px;
  background: url("../images/v1_531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 283px;
  overflow: hidden;
}
.v1_532 {
  width: 57px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 429px;
  overflow: hidden;
}
.v1_533 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1110px;
  overflow: hidden;
}
.v1_534 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_534.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_535 {
  width: 70px;
  height: 20px;
  background: url("../images/v1_535.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 27px;
  overflow: hidden;
}
.v1_536 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_537 {
  width: 12px;
  height: 16px;
  background: url("../images/v1_537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v1_538 {
  width: 12px;
  height: 10px;
  background: url("../images/v1_538.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.v1_539 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_539.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.name {
  color: #fff;
}
.v1_541 {
  width: 44px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_544 {
  width: 100%;
  height: 906px;
  background: url("../images/v1_544.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v1_545 {
  width: 100%;
  height: 906px;
  background: rgba(151,149,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_548 {
  width: 574px;
  height: 210px;
  background: url("../images/v1_548.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 210px;
  left: 110px;
  overflow: hidden;
}
.v1_549 {
  width: 574px;
  height: 210px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_550 {
  width: 574px;
  height: 210px;
  background: url("../images/v1_550.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 722px;
  left: 110px;
  overflow: hidden;
}
.v1_551 {
  width: 574px;
  height: 210px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_552 {
  width: 574px;
  height: 210px;
  background: url("../images/v1_552.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 466px;
  left: 110px;
  overflow: hidden;
}
.v1_553 {
  width: 574px;
  height: 210px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_554 {
  width: 320px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 737px;
  left: 339px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_555 {
  width: 320px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 225px;
  left: 339px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_556 {
  width: 320px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 481px;
  left: 339px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_557 {
  width: 574px;
  height: 640px;
  background: url("../images/v1_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 210px;
  left: 756px;
  overflow: hidden;
}
.v1_558 {
  width: 574px;
  height: 640px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v1_559 {
  width: 510px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 427px;
  left: 792px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_560 {
  width: 574px;
  height: 176px;
  background: url("../images/v1_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 756px;
  overflow: hidden;
}
.v1_561 {
  width: 574px;
  height: 176px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v1_562 {
  width: 447px;
  height: 108px;
  background: url("../images/v1_562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 50px;
  overflow: hidden;
}
.v1_563 {
  width: 447px;
  color: rgba(141,139,166,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_564 {
  width: 221px;
  height: 210px;
  background: url("../images/v1_564.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 110px;
  overflow: hidden;
}
.v1_565 {
  width: 221px;
  height: 210px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_566 {
  width: 153px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 176px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_567 {
  width: 220px;
  height: 155px;
  background: url("../images/v1_567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_568 {
  width: 220px;
  height: 155px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_570 {
  width: 221px;
  height: 210px;
  background: url("../images/v1_570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 110px;
  overflow: hidden;
}
.v1_571 {
  width: 221px;
  height: 210px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_572 {
  width: 153px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 176px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_573 {
  width: 220px;
  height: 155px;
  background: url("../images/v1_573.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_574 {
  width: 220px;
  height: 155px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_576 {
  width: 221px;
  height: 210px;
  background: url("../images/v1_576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 722px;
  left: 110px;
  overflow: hidden;
}
.v1_577 {
  width: 221px;
  height: 210px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_578 {
  width: 153px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 176px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_579 {
  width: 220px;
  height: 155px;
  background: url("../images/v1_579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_580 {
  width: 220px;
  height: 155px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_585 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_586 {
  width: 596px;
  height: 729px;
  background: rgba(242,241,249,1);
  padding: 72px 40px;
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 422px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_587 {
  width: 516px;
  height: 585px;
  background: url("../images/v1_587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 40px;
  overflow: hidden;
}
.v1_588 {
  width: 88px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 214px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_589 {
  width: 246px;
  height: 370px;
  background: url("../images/v1_589.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 135px;
  overflow: hidden;
}
.v1_590 {
  width: 246px;
  height: 370px;
  background: url("../images/v1_590.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_591 {
  width: 246px;
  height: 102px;
  background: url("../images/v1_591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_592 {
  width: 48px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_593 {
  width: 246px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v1_594 {
  width: 246px;
  height: 72px;
  background: url("../images/v1_594.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_595 {
  width: 246px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_596 {
  width: 119px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 119px;
  overflow: hidden;
}
.v1_597 {
  width: 119px;
  height: 56px;
  background: rgba(250,85,95,1);
  padding: 18px 28px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;
  border-bottom-left-radius: 96px;
  border-bottom-right-radius: 96px;
  overflow: hidden;
}
.v1_598 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 38px;
  overflow: hidden;
}
.v1_599 {
  width: 14px;
  height: 15px;
  background: url("../images/v1_599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_600 {
  width: 13px;
  height: 13px;
  background: url("../images/v1_600.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_601 {
  width: 3px;
  height: 3px;
  background: url("../images/v1_601.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_602 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 28px;
  font-family: Onest;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_603 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 131px;
  overflow: hidden;
}
.v1_604 {
  width: 12px;
  height: 11px;
  background: url("../images/v1_604.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v1_605 {
  width: 5px;
  height: 11px;
  background: url("../images/v1_605.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_606 {
  width: 11px;
  background: url("../images/v1_606.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_607 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 202px;
  overflow: hidden;
}
.v1_608 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_609 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_609.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_610 {
  width: 4px;
  height: 4px;
  background: url("../images/v1_610.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_611 {
  width: 88px;
  height: 18px;
  background: url("../images/v1_611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 24px;
  overflow: hidden;
}
.v1_612 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_613 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_614 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_614.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_615 {
  width: 4px;
  height: 4px;
  background: url("../images/v1_615.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_616 {
  width: 88px;
  color: rgba(172,171,194,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_617 {
  width: 246px;
  height: 102px;
  background: url("../images/v1_617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 0px;
  overflow: hidden;
}
.v1_618 {
  width: 85px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_619 {
  width: 246px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v1_620 {
  width: 246px;
  height: 72px;
  background: url("../images/v1_620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_621 {
  width: 246px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_622 {
  width: 119px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 119px;
  overflow: hidden;
}
.v1_623 {
  width: 119px;
  height: 56px;
  background: rgba(250,85,95,1);
  padding: 18px 28px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;
  border-bottom-left-radius: 96px;
  border-bottom-right-radius: 96px;
  overflow: hidden;
}
.v1_624 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 38px;
  overflow: hidden;
}
.v1_625 {
  width: 14px;
  height: 15px;
  background: url("../images/v1_625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_626 {
  width: 13px;
  height: 13px;
  background: url("../images/v1_626.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_627 {
  width: 3px;
  height: 3px;
  background: url("../images/v1_627.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_628 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 28px;
  font-family: Onest;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_629 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 131px;
  overflow: hidden;
}
.v1_630 {
  width: 12px;
  height: 11px;
  background: url("../images/v1_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v1_631 {
  width: 5px;
  height: 11px;
  background: url("../images/v1_631.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_632 {
  width: 11px;
  background: url("../images/v1_632.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_633 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 202px;
  overflow: hidden;
}
.v1_634 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_635 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_635.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_636 {
  width: 4px;
  height: 4px;
  background: url("../images/v1_636.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_637 {
  width: 174px;
  height: 18px;
  background: url("../images/v1_637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 24px;
  overflow: hidden;
}
.v1_638 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_639 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_639.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_640 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_640.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_641 {
  width: 4px;
  height: 4px;
  background: url("../images/v1_641.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_642 {
  width: 174px;
  color: rgba(172,171,194,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_643 {
  width: 246px;
  height: 102px;
  background: url("../images/v1_643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 0px;
  overflow: hidden;
}
.v1_644 {
  width: 85px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_645 {
  width: 246px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.v1_646 {
  width: 246px;
  height: 72px;
  background: url("../images/v1_646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_647 {
  width: 246px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_648 {
  width: 119px;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 119px;
  overflow: hidden;
}
.v1_649 {
  width: 119px;
  height: 56px;
  background: rgba(250,85,95,1);
  padding: 18px 28px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;
  border-bottom-left-radius: 96px;
  border-bottom-right-radius: 96px;
  overflow: hidden;
}
.v1_650 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 38px;
  overflow: hidden;
}
.v1_651 {
  width: 14px;
  height: 15px;
  background: url("../images/v1_651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_652 {
  width: 13px;
  height: 13px;
  background: url("../images/v1_652.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_653 {
  width: 3px;
  height: 3px;
  background: url("../images/v1_653.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_654 {
  width: 63px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 28px;
  font-family: Onest;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v1_655 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 131px;
  overflow: hidden;
}
.v1_656 {
  width: 12px;
  height: 11px;
  background: url("../images/v1_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v1_657 {
  width: 5px;
  height: 11px;
  background: url("../images/v1_657.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_658 {
  width: 11px;
  background: url("../images/v1_658.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v1_659 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 202px;
  overflow: hidden;
}
.v1_660 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_661 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_661.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_662 {
  width: 4px;
  height: 4px;
  background: url("../images/v1_662.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_663 {
  width: 174px;
  height: 18px;
  background: url("../images/v1_663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 24px;
  overflow: hidden;
}
.v1_664 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_665 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v1_666 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_666.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_667 {
  width: 4px;
  height: 4px;
  background: url("../images/v1_667.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid rgba(160,163,189,1);
}
.v1_668 {
  width: 174px;
  color: rgba(172,171,194,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_670 {
  width: 44px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 567px;
  left: 236px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
