* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1269 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1270 {
  width: 100%;
  height: 118px;
  background: url("../images/v1_1270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1271 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1272 {
  width: 261px;
  height: 34px;
  background: url("../images/v1_1272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 110px;
  overflow: hidden;
}
.v1_1273 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 47px;
  overflow: hidden;
}
.v1_1274 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_1274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1275 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_1275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1276 {
  width: 57px;
  height: 23px;
  background: rgba(93,89,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_1277 {
  width: 149px;
  height: 28px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
}
.v1_1278 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_1278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1279 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_1279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1280 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_1281 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_1282 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_1283 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v1_1284 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 12px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_1285 {
  width: 9px;
  height: 9px;
  background: url("../images/v1_1285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1px;
  overflow: hidden;
}
.v1_1286 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
}
.name {
  color: #fff;
}
.v1_1288 {
  width: 486px;
  height: 20px;
  background: url("../images/v1_1288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 416px;
  overflow: hidden;
}
.v1_1289 {
  width: 50px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1290 {
  width: 50px;
  height: 18px;
  background: url("../images/v1_1290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1292 {
  width: 50px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_1294 {
  width: 98px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v1_1295 {
  width: 98px;
  height: 18px;
  background: url("../images/v1_1295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1297 {
  width: 98px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_1299 {
  width: 36px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  overflow: hidden;
}
.v1_1300 {
  width: 36px;
  height: 18px;
  background: url("../images/v1_1300.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_1303 {
  width: 113px;
  height: 20px;
  background: url("../images/v1_1303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 283px;
  overflow: hidden;
}
.v1_1304 {
  width: 57px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 429px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1306 {
  width: 82px;
  height: 18px;
  background: url("../images/v1_1306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 1248px;
  overflow: hidden;
}
.v1_1307 {
  width: 82px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v1_1309 {
  width: 589px;
  height: 63px;
  background: url("../images/v1_1309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 741px;
  overflow: hidden;
}
.v1_1310 {
  width: 589px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_1311 {
  width: 589px;
  height: 164px;
  background: url("../images/v1_1311.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 110px;
  overflow: hidden;
}
.v1_1312 {
  width: 589px;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_1313 {
  width: 589px;
  height: 164px;
  background: url("../images/v1_1313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 741px;
  overflow: hidden;
}
.v1_1314 {
  width: 589px;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_1315 {
  width: 447px;
  color: rgba(141,139,166,1);
  position: absolute;
  top: 217px;
  left: 153px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1316 {
  width: 447px;
  color: rgba(141,139,166,1);
  position: absolute;
  top: 298px;
  left: 784px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1317 {
  width: 589px;
  height: 210px;
  background: url("../images/v1_1317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 372px;
  left: 110px;
  overflow: hidden;
}
.v1_1318 {
  width: 589px;
  height: 210px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_1319 {
  width: 589px;
  height: 446px;
  background: url("../images/v1_1319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 217px;
  left: 741px;
  overflow: hidden;
}
.v1_1320 {
  width: 589px;
  height: 210px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_1321 {
  width: 12px;
  height: 6px;
  background: url("../images/v1_1321.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 549px;
  border: 2px solid rgba(33,39,42,1);
}
.v1_1322 {
  width: 320px;
  color: rgba(93,90,136,1);
  position: absolute;
  top: 387px;
  left: 339px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1323 {
  width: 320px;
  color: rgba(93,90,136,1);
  position: absolute;
  top: 468px;
  left: 970px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1324 {
  width: 221px;
  height: 210px;
  background: url("../images/v1_1324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 110px;
  overflow: hidden;
}
.v1_1325 {
  width: 221px;
  height: 210px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_1326 {
  width: 153px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 176px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_1327 {
  width: 220px;
  height: 155px;
  background: url("../images/v1_1327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1328 {
  width: 220px;
  height: 155px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1330 {
  width: 221px;
  height: 210px;
  background: url("../images/v1_1330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 741px;
  overflow: hidden;
}
.v1_1331 {
  width: 221px;
  height: 210px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_1332 {
  width: 153px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 176px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_1333 {
  width: 220px;
  height: 155px;
  background: url("../images/v1_1333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1334 {
  width: 220px;
  height: 155px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1336 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 138px;
  left: 110px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1337 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 138px;
  left: 741px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1338 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 136px;
  left: 613px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_1339 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 203px;
  left: 760px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
