* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_781 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_782 {
  width: 100%;
  height: 118px;
  background: url("../images/v1_782.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_783 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_784 {
  width: 261px;
  height: 34px;
  background: url("../images/v1_784.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 110px;
  overflow: hidden;
}
.v1_785 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_785.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 47px;
  overflow: hidden;
}
.v1_786 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_787 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_787.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_788 {
  width: 57px;
  height: 23px;
  background: rgba(93,89,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_789 {
  width: 149px;
  height: 28px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
}
.v1_790 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_791 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_792 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_793 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_794 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_795 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v1_796 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 12px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_797 {
  width: 9px;
  height: 9px;
  background: url("../images/v1_797.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1px;
  overflow: hidden;
}
.v1_798 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
}
.name {
  color: #fff;
}
.v1_800 {
  width: 486px;
  height: 20px;
  background: url("../images/v1_800.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 416px;
  overflow: hidden;
}
.v1_801 {
  width: 50px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_802 {
  width: 50px;
  height: 18px;
  background: url("../images/v1_802.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_804 {
  width: 50px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_806 {
  width: 98px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v1_807 {
  width: 98px;
  height: 18px;
  background: url("../images/v1_807.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_809 {
  width: 98px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_811 {
  width: 36px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  overflow: hidden;
}
.v1_812 {
  width: 36px;
  height: 18px;
  background: url("../images/v1_812.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_815 {
  width: 113px;
  height: 20px;
  background: url("../images/v1_815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 283px;
  overflow: hidden;
}
.v1_816 {
  width: 57px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 429px;
  overflow: hidden;
}
.v1_817 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_817.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1110px;
  overflow: hidden;
}
.v1_818 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_818.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_819 {
  width: 70px;
  height: 20px;
  background: url("../images/v1_819.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 27px;
  overflow: hidden;
}
.v1_820 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_821 {
  width: 12px;
  height: 16px;
  background: url("../images/v1_821.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v1_822 {
  width: 12px;
  height: 10px;
  background: url("../images/v1_822.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.v1_823 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_823.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.name {
  color: #fff;
}
.v1_825 {
  width: 44px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_828 {
  width: 589px;
  height: 164px;
  background: url("../images/v1_828.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 110px;
  overflow: hidden;
}
.v1_829 {
  width: 589px;
  height: 164px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_830 {
  width: 589px;
  height: 214px;
  background: url("../images/v1_830.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 741px;
  overflow: hidden;
}
.v1_831 {
  width: 589px;
  height: 214px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_832 {
  width: 447px;
  color: rgba(141,139,166,1);
  position: absolute;
  top: 217px;
  left: 153px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_833 {
  width: 394px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 248px;
  left: 851px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_834 {
  width: 589px;
  height: 210px;
  background: url("../images/v1_834.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 372px;
  left: 110px;
  overflow: hidden;
}
.v1_835 {
  width: 589px;
  height: 210px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_836 {
  width: 320px;
  color: rgba(93,90,136,1);
  position: absolute;
  top: 387px;
  left: 339px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_837 {
  width: 221px;
  height: 210px;
  background: url("../images/v1_837.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 110px;
  overflow: hidden;
}
.v1_838 {
  width: 221px;
  height: 210px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(211,210,227,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v1_839 {
  width: 153px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 176px;
  left: 34px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: center;
}
.v1_840 {
  width: 220px;
  height: 155px;
  background: url("../images/v1_840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_841 {
  width: 220px;
  height: 155px;
  background: rgba(249,248,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_843 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 138px;
  left: 110px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_844 {
  width: 89px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 138px;
  left: 741px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_845 {
  width: 86px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 136px;
  left: 613px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
