* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_204 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_205 {
  width: 100%;
  height: 118px;
  background: url("../images/v1_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_206 {
  width: 100%;
  height: 117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_207 {
  width: 261px;
  height: 34px;
  background: url("../images/v1_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 110px;
  overflow: hidden;
}
.v1_208 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 47px;
  overflow: hidden;
}
.v1_209 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_210 {
  width: 213px;
  height: 28px;
  background: url("../images/v1_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_211 {
  width: 57px;
  height: 23px;
  background: rgba(93,89,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_212 {
  width: 149px;
  height: 28px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 63px;
}
.v1_213 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_214 {
  width: 34px;
  height: 34px;
  background: url("../images/v1_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_215 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_216 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_217 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_218 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v1_219 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 12px;
  border: 0px solid rgba(150,150,150,1);
}
.v1_220 {
  width: 9px;
  height: 9px;
  background: url("../images/v1_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1px;
  overflow: hidden;
}
.v1_221 {
  width: 9px;
  height: 9px;
  background: rgba(141,139,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
}
.name {
  color: #fff;
}
.v1_223 {
  width: 486px;
  height: 20px;
  background: url("../images/v1_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 416px;
  overflow: hidden;
}
.v1_224 {
  width: 50px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_225 {
  width: 50px;
  height: 18px;
  background: url("../images/v1_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_227 {
  width: 50px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_229 {
  width: 98px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v1_230 {
  width: 98px;
  height: 18px;
  background: url("../images/v1_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_232 {
  width: 98px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_234 {
  width: 36px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  overflow: hidden;
}
.v1_235 {
  width: 36px;
  height: 18px;
  background: url("../images/v1_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_238 {
  width: 113px;
  height: 20px;
  background: url("../images/v1_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 283px;
  overflow: hidden;
}
.v1_239 {
  width: 57px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 429px;
  overflow: hidden;
}
.v1_240 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 1110px;
  overflow: hidden;
}
.v1_241 {
  width: 220px;
  height: 54px;
  background: url("../images/v1_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_242 {
  width: 70px;
  height: 20px;
  background: url("../images/v1_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 27px;
  overflow: hidden;
}
.v1_243 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_244 {
  width: 12px;
  height: 16px;
  background: url("../images/v1_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v1_245 {
  width: 12px;
  height: 10px;
  background: url("../images/v1_245.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.v1_246 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_246.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1.399999976158142px solid rgba(250,85,95,1);
}
.name {
  color: #fff;
}
.v1_248 {
  width: 44px;
  color: rgba(93,89,136,1);
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_251 {
  width: 100%;
  height: 906px;
  background: url("../images/v1_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v1_252 {
  width: 100%;
  height: 906px;
  background: rgba(151,149,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_255 {
  width: 574px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 210px;
  left: 110px;
  font-family: DM Sans;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v1_256 {
  width: 574px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 358px;
  left: 110px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_257 {
  width: 574px;
  height: 640px;
  background: url("../images/v1_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 756px;
  overflow: hidden;
}
.v1_258 {
  width: 574px;
  height: 640px;
  background: rgba(242,241,249,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v1_259 {
  width: 96px;
  height: 18px;
  background: url("../images/v1_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 50px;
  overflow: hidden;
}
.v1_260 {
  width: 96px;
  color: rgba(141,139,166,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
